<html>
    <body>
        <h1>Item</h1>
        <button onclick="loadItems()">Load Items</button>
        <ul id="list"></ul>

        <label>Item Name:</label>
        <input type="text" id="name" placeholder="e.g Creatine Wheyl"><br><br>

        <label>Price:</label>
        <input type="number" id="price" placeholder="e.g 700"><br><br>

        <button onclick="addItem()">Add Item</button>

        <h3>Response:</h3>
        <pre id="response"></pre>



        <script>
            async function loadItems() {
                try {
                    const res = await fetch("http://127.0.0.1:8000/items");
                    if (!res.ok) throw new Error("Server error: " + res.status);
                    
                    const data = await res.json();
                    console.log(data);
            
                    document.getElementById('list').innerHTML =
                        data.map(i => `<li>${i.name} - ${i.price}</li>`).join("");
                } catch (err) {
                    console.error("Fetch failed:", err);
                    document.getElementById('list').innerHTML = "<li>Failed to load items.</li>";
                }
            }
        </script>
        
        <script>
            async function  addItem() {
                const name = document.getElementById('name').value;
                const price = parseFloat(document.getElementById('price').value);

                const itemData = {name,price};

                try{
                    const res = await fetch('http://127.0.0.1:8000/items',{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify(itemData)
                    });

                    if (!res.ok) throw new Error('Server error:' + res.status);

                    const data = await res.json();
                    document.getElementById('response').textContent = JSON.stringify(data,null,2);
                }catch (err){
                    document.getElementById('response').textContent = "Error: " + err.message;
                }
            }


        </script>


    </body>

</html>